# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives**
- Python
- R
- SQL

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Matplotlib
4. Seaborn

## Author
Denys

| Data science tool |
---------------------
| Jupyter Notebook |
| RStudio |
| Apache Zeppelin |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
(3*4)+5

17

This a simple arithmetic expression to mutiply then add integers

In [4]:
200/60

3.3333333333333335

This will convert 200 minutes to hours by diving by 60